:root {
  /* 🔷 Primárias */
  --color-primary: #465f87;
  --color-primary-dark: #46658c;
  --color-primary-light: #7394bf;

  /* 🔹 Secundárias */
  --color-secondary: #89abd9;
  --color-accent: #d8f2f0;

  /* ⚫ Neutras */
  --color-text: #333;
  --color-background: #f9f9f9;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Remove estilos padrão de links */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove listas padrão */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove estilização de botão */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

/* Define fonte base e suavização */
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Imagens responsivas */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inputs e textarea com base limpa */
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Cabeçalhos sem margem padrão */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}
