/* src/styles/theme.css */
:root {
  --color--bg: #121212;
  --color--bg-secondary: #1e1e1e;
  --color--text: #f1f1f1;
  --color--primary: #70a3eb;
  --color--error: #ff3737;
  --color--border: #333;
  --color--input-bg: #222;
}
